body{
    background:rgb(19, 19, 19);
    color:white;
    font-size:36px;
}

#content
{
    width:1000px;
    margin:0 auto;
    display:flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

#gameboard
{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tile
{
    width:175px;
    height:175px;
    margin:5%;
    background:rgb(25, 25, 25);
    border:2px solid white;
}
.noOwner:hover
{
    background:rgb(125, 125, 125);
    
}

#turnHolder
{
    text-shadow: 0px 0px 10px #ffffff;
}

.horde
{
    background-image: url('../../src/blonski/horde.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.alliance
{
    background-image: url('../../src/blonski/ally.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}
